:root {
    --space-unit: 1rem;
    --space-xxs: calc(0.25 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));

    --primary-color: #00FFC5;
    --secondary-color: #ADF5FF;
    --tertiary-color: #0075A2;

    tab-size: 4;
    font-family: SFRounded, ui-rounded, "SF Pro Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-feature-settings: normal;
    font-variation-settings: normal;

    font-size: 1rem;
}

#snake-body {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 4rem 0;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: var(--space-xxl);
}

/*--------------Projects--------------*/

.projectContainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.projectContainer {
    display: grid;
    grid-template-columns: 7rem repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 40rem;
    row-gap: 1rem;
    column-gap: 2rem;
}

.projectTitleContainer {
    position: relative;
    grid-row: span 1 / 2;
    grid-column: 2 / 6;
    align-content: end;
    font-weight: bold;
    color: var(--tertiary-color);
    text-decoration: none;
    display: flex;
    gap: .3rem;
    align-items: end;
}

.projectTitleContainer:visited {
    color: var(--tertiary-color);
}

.projectContainersTitle {
    width: 40rem;
    height: var(--space-xxl);
    align-content: end;
    font-weight: bold;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.projectDuration {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
    align-content: end;
    font-weight: 100;
    text-align: end;
}

.projectLogo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: var(--space-xxl);
}

.projectDescription {
    grid-column: 2 / 7;
    grid-row: 2 / 3;
    font-weight: 300;
    position: relative;
}

/*--------------Websites--------------*/

.websiteContainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.websiteContainer {
    display: grid;
    grid-template-columns: 7rem repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 40rem;
    row-gap: 1rem;
    column-gap: 2rem;
}

.websiteTitleContainer {
    grid-row: span 1 / 2;
    grid-column: 2 / 6;
    align-content: end;
    font-weight: bold;
    color: var(--tertiary-color);
    text-decoration: none;
    display: flex;
    gap: .3rem;
    align-items: end;
}

.projectTitleContainer:visited {
    color: var(--tertiary-color);
}

.websiteContainersTitle {
    width: 40rem;
    height: var(--space-xxl);
    align-content: end;
    font-weight: bold;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.websiteDuration {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
    align-content: end;
    text-align: end;
    font-weight: 100;
}

.websiteLogo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: var(--space-xxl);
}

.websiteDescription {
    grid-column: 2 / 7;
    grid-row: 2 / 3;
    font-weight: 300;
}

/*--------------Util--------------*/

.technologies {
    display: flex;
    flex-direction: row;
    gap: var(--space-xxs);
    grid-column: 2 / 6;
    grid-row: 3 / 4;
}

.technology {
    color: var(--tertiary-color);
    font-weight: 300;
}

.arrowLink {
}

/*--------------About--------------*/

.aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nameAndAvatarContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.name {
    margin-bottom: 0;
}

.aboutTextContainer {
    display: flex;
    flex-direction: column;
}

.aboutTextHeader {
    font-weight: bold;
}

.aboutText {
    width: 40rem;
    font-weight: 300;
}

@media screen and (max-width: 500px), screen and (orientation: portrait) {
    main {
        width: 100%;
        padding: 6rem 4rem;
    }

    .aboutContainer {
        font-size: 4rem;
        gap: 10rem;
    }

    .nameAndAvatarContainer {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .avatar {
        width: 80%;
        height: 80%;
    }

    .name {
        margin: 0;
    }

    .aboutText {
        width: 100%;
    }

    .projectContainersTitle, .websiteContainersTitle {
        font-size: 4rem;
        width: 100%;
    }

    .projectContainers, .websiteContainers {
        align-items: normal;
        gap: 16rem;
        padding-top: 16rem;
    }

    .projectContainer, .websiteContainer {
        width: 100%;
        grid-template-columns: 1fr repeat(5, 1fr);
        font-size: 4rem;
        display: block;
    }

    .projectDuration, .websiteDuration {
        text-align: start;
    }

    .technologies {
        flex-wrap: wrap;
    }

    footer {
        padding-bottom: 8rem;
    }

    .socials-container {
        gap: 8rem;
    }

    .social-icon {
        width: 8rem;
    }
}

#language {
    position: fixed;
    bottom: var(--space-unit);
    display: flex;
    gap: var(--space-unit);
    align-items: end;
}

/*--------- Snake ---------*/

#tick-rate-display {
    display: block;
    width: 2.5rem;
}
